body {
  font-family: Arial, sans-serif;
  background-color: #f7f0ff;
  margin: 0;
  padding: 0px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #7255a2;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

.reiniciar-btn {
  display: block;
  margin: 0 auto 30px auto;
  background-color: #a366ba;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reiniciar-btn:hover {
  background-color: #784a88;
}

.malla-grid {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  padding: 20px;
  justify-content: center;
}

.modulo, .semestre {
  min-width: 220px;
  background-color: #f3e8f9;
  border: 2px solid #7d49a3;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.modulo h2, .semestre h2 {
  text-align: center;
  color: #6314ad;
  font-size: 1.1em;
  margin-bottom: 12px;
  border-bottom: 1px solid #2d255a;
  padding-bottom: 6px;
}

.asignatura {
  background: linear-gradient(145deg, #cda0dd, #d7aef6);
  border: 1px solid #79589c;
  border-radius: 8px;
  padding: 13px;
  margin-bottom: 12px;
  text-align: center;
  cursor: pointer;
  color: #661982;
  font-weight: 550;
  box-shadow: 2px 2px 4px #c2a9e2, -2px -2px 4px #ebceff;
  transition: all 0.3s ease;
  user-select: none;
}

.asignatura:hover {
  background: linear-gradient(145deg, #ba91ca, #c49ae3);
  box-shadow: 6px 6px 10px #7a72b6, -6px -6px 10px 7a72b6;
  color: #661982;
  transform: translateY(-3px);
}

.asignatura:active {
  box-shadow: inset 3px 3px 5px #621d77, inset -3px -3px 5px #aa6ed8;
  transform: translateY(1px);
}

.asignatura.bloqueado {
  background-color: #f3f3f3;
  color: #999;
  border-style: dashed;
  cursor: not-allowed;
  box-shadow: none;
  background: none;
}

.asignatura.regular {
  background: linear-gradient(145deg, #91aadc, #7491cd);
  color: #242f79;
  border-color: #676a9f;
  text-decoration: none;
  font-style: normal;
}

.asignatura.aprobado {
  background: linear-gradient(145deg, #91aadc, #7491cd) !important;
  color: #242f79;
  border-color: #2b294d;
  text-decoration: line-through;
  font-style: italic;
}


.contador-box {
  text-align: center;
  font-weight: bold;
  color: #7255a2;
  margin-bottom: 20px;
  font-size: 1.1em;
}

.leyenda {
  text-align: center;
  margin-top: 30px;
  font-weight: 500;
  font-size: 1rem;
  color: #880e4f;
}

.leyenda span {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 4px;
}

.color-morado {
  background: linear-gradient(145deg, #d1bee7, #b695d3);
  border: 1px solid #6a1b9a;
  margin-right: 4px;
}

.color-aprobado {
  background: linear-gradient(145deg, #d1bee7, #b695d3);
  border: 1px solid #6a1b9a;
  text-decoration: line-through;
  position: relative;
}

.color-aprobado::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 2px;
  width: 16px;
  height: 2px;
  background-color: #4a148c;
  transform: rotate(-12deg);
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  color: #ffffff;
  background-color: #7255a2;
  margin-top: 40px;
}